*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
.idea
.vscode/*
*.o
*.ptx
release
Makefile
*.so.*
CMakeFiles
cmake_install.cmake
CMakeCache.txt
cmake-build-debug
build
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

